<img src="https://images.efollett.com/htmlroot/images/templates/storeLogos/CA/864.gif" style="float: right;"> 




# ECON611
### HW_4 -  SQL
#### Due: Nov 18

We will be using the sample databases that come from the DBeaver program (use the Database Installation guide to assist you on installing it). We will be using the sample tables that are provided there. Save your work as a SQL script with answers to specific questions commented out properly labled.

## 1. Music and Album Data
---
We will be using the following tables from DBeaver:
• Album • Artist • Genre • Track • PlaylistTrack • MediaType

## Problems (40 points)
---

#### A. (5 points). Output a table that has the columns Album Title, Artist, Track Name, Genre, Composer, Length of Song (minutes) 
---

In [ ]:
Select trackid,
	   track.name as Track,
	   artist.name as Artist,
	   album.title as Title,
	   genre.name as Genre,
	   track.composer as Composer,
	   round(track.Milliseconds*1.0/60000,2) As 'Lenght of track'
FROM track
	   inner join artist on Artist.ArtistId = album.artistid
	   inner join album on album.albumid = track.albumid
	   inner join genre on genre.genreid = track.genreid;
    
    
    #COMPLETE

#### B. (5 points). Output a frequency table for how many letters are in an album title and a song title. (i.e. 3 columns: number of letters, number of album titles with that amount of letters, number of song titles with that amount of letters). What is the average and range of amount of letters?
---

In [ ]:
Select trackid,
	   t.name as Track,LENGTH(T.name) as Letters_track_name,
	   album.title as Title,LENGTH(album.title) as Letters_album_title,
	   count(*) as Frequency
FROM track as t
	   inner join album on album.albumid = t.albumid
	   Group by letters_track_name
	   order by letters_track_name;
    
        Select trackid,
	   t.name as Track,LENGTH(T.name) as Letters_track_name,
	   album.title as Title,LENGTH(album.title) as Letters_album_title,
	   max(LENGTH(T.name)) - min(LENGTH(T.name)) as Rangez,
	   avg(LENGTH(T.name)) as Average
FROM track as t
	   inner join album on album.albumid = t.albumid
	   order by letters_track_name;
    
    Select trackid,
	   t.name as Track,LENGTH(T.name) as Letters_track_name,
	   album.title as Title,LENGTH(album.title) as Letters_album_title,
	   count(*) as Frequency
FROM track as t
	   inner join album on album.albumid = t.albumid
	   Group by letters_album_title
	   order by letters_album_title;
    
        Select trackid,
	   t.name as Track,LENGTH(T.name) as Letters_track_name,
	   album.title as Title,LENGTH(album.title) as Letters_album_title,
	   max(LENGTH(album.title)) - min(LENGTH(album.title)) as Rangez,
	   avg(LENGTH(album.title)) as Average
FROM track as t
	   inner join album on album.albumid = t.albumid
	   order by letters_album_title;

    
    
    
    #COMPLETE

#### C. (10 points). How many songs did each composer write? How many artists composed their own music? Output all of the Artists who had songs that were longer than 2.5 minutes and they did not write their own songs.
---

In [ ]:
SELECT COUNT(NAME) SONG,COMPOSER
FROM TRACK
GROUP BY COMPOSER;

SELECT COUNT(TRACK.NAME) SONG, COMPOSER
FROM TRACK
JOIN ARTIST
ON ALBUM.ARTISTID = ARTIST.ARTISTID
JOIN ALBUM
ON TRACK.ALBUMID = ALBUM.ALBUMID
GROUP BY COMPOSER;


Select trackid,
	   track.name as Track,
	   artist.name as Artist,
	   album.title as Title,
	   genre.name as Genre,
	   track.composer as Composer,
	   track.Milliseconds*1.0/60000 As Length_of_track,
(Case when artist.name = track.composer then '1' else '0' end) as Artist_composer,
(case when track.Milliseconds*1.0/60000 > 2.50000 and artist.name != track.composer  then 'yes' else 'no' end) as More_than_2
FROM track
	   inner join artist on Artist.ArtistId = album.artistid
	   inner join album on album.albumid = track.albumid
	   inner join genre on genre.genreid = track.genreid;
    
    
    #COMPLETE

#### D. (10 points). How many albums contain songs that only have an even number of seconds in the length of the song and the songs are all MPEG audio files?
---

In [ ]:
Select trackid,
	   track.name as Track,
	   track.MediaTypeId as Media,
	   artist.name as Artist,
	   album.title as Title,
	   genre.name as Genre,
	   track.composer as Composer,
	   round(track.Milliseconds*1.0/60000, 2) As 'Lenght of track',
(case when round(track.Milliseconds*1.0/60000, 2)%2!=0 and MediaTypeId = 1 then 1 else 0 end) as Constrain,
count(*) as RESULTZ
FROM track
	   inner join artist on Artist.ArtistId = album.artistid
	   inner join album on album.albumid = track.albumid
	   inner join genre on genre.genreid = track.genreid
	   group by Constrain;
        
        #COMPLETE

#### E. (10 points). How large, in terms of Megabytes are each album? On average, how large, in terms of bytes, is a pop song? What is the range and average duration of a heavy metal song in minutes?
---

In [ ]:
Select trackid,
	   album.albumid as AlbumID,
	   artist.name as Artist,
	   round(track.Bytes*1.0/1000000,4) as Megabytes,
	   album.title as Title,
	   sum(round(track.Bytes*1.0/1000000,4)) as Megabytes_album
FROM track
	   inner join artist on Artist.ArtistId = album.artistid
	   inner join album on album.albumid = track.albumid
	   group by album.albumid;
    
    Select trackid,
	   album.albumid as AlbumID,
	   artist.name as Artist,
	   track.Bytes as Bytes,
	   album.title as Title,
	   genre.genreId as GenreId,
	   genre.name as Genre,
	   avg(track.bytes) as Average_bytes
FROM track
	   inner join artist on Artist.ArtistId = album.artistid
	   inner join album on album.albumid = track.albumid
	   inner join genre on genre.GenreId = track.GenreId
	   where genre.genreid = 9;
        
    Select trackid,
	   album.albumid as AlbumID,
	   artist.name as Artist,
	   round(track.Milliseconds*1.0/60000, 2) As 'Lenght of track',
	   album.title as Title,
	   genre.genreId as GenreId,
	   genre.name as Genre,
	   max(round(track.Milliseconds*1.0/60000, 2)) - min(round(track.Milliseconds*1.0/60000, 2)) as Rangez,
	   avg(round(track.Milliseconds*1.0/60000, 2)) as Average_duration
FROM track
	   inner join artist on Artist.ArtistId = album.artistid
	   inner join album on album.albumid = track.albumid
	   inner join genre on genre.GenreId = track.GenreId
	   where genre.genreid = 13;
    
    
    #COMPLETE

## 2. Customer Data
---
We will be using the following tables from DBeaver:
• Customer • Invoice • InvoiceLine • Album • Artist • Genre • Track • PlaylistTrack • MediaType

## Problems (40 points)
---

#### A. (5 points). Output a table that shows the number of customers in each city, and also have shows the state and country that the city is located in.
---

In [ ]:
Select city,
	   state,
	   country,
	   count(*) as customer_by_city
from Customer
group by city;

#COMPLETE

#### B. (10 points). How much in total was spent on music per year? What is the average amount a person spent on music in a year? What is the average amount a person with a gmail account spent on music in a year?
---

In [ ]:
SELECT invoiceid as InvoiceID,
	   customer.CustomerID as CustomerID,
	   STRFTIME('%Y', INVOICEDATE) AS DATEZ,
	   customer.email as Email,
	   total as Total,
	   sum(total)
from Invoice
	inner join customer on customer.CustomerId = invoice.CustomerId
	group by datez;
    
    SELECT invoiceid as InvoiceID,
	   customer.CustomerID as CustomerID,
	   STRFTIME('%Y', INVOICEDATE) AS DATEZ,
	   customer.email as Email,
	   sum(total) as Total,
	   count(distinct STRFTIME('%Y', INVOICEDATE)) as years,
	   sum(total)/count(distinct STRFTIME('%Y', INVOICEDATE)) as AVG_years
from Invoice
	inner join customer on customer.CustomerId = invoice.CustomerId
	group by customer.customerid
	order by datez;
    
        SELECT invoiceid as InvoiceID,
	   customer.CustomerID as CustomerID,
	   STRFTIME('%Y', INVOICEDATE) AS DATEZ,
	   customer.email as Email,
	   sum(total) as Total,
	   count(distinct STRFTIME('%Y', INVOICEDATE)) as years,
	   sum(total)/count(distinct STRFTIME('%Y', INVOICEDATE)) as AVG_years
from Invoice
	inner join customer on customer.CustomerId = invoice.CustomerId
	where "email" LIKE '%@gmail.com'
	group by customer.customerid
	order by datez;
    
    #COMPLETE

#### C. (10 points). What year-month combination had the most spending on music? Which year-month combi- nation had the most money spent on pop music?
---

In [ ]:
SELECT STRFTIME('%Y %m', INVOICEDATE) AS DATEZ,
	   total as Total,
	   max(total) as MSUMM,
	   (select sum(TOTAL) as sumi from invoice group by total) as YM_MAX
from invoice
group by YM_MAX;

SELECT STRFTIME('%Y %m', INVOICEDATE) AS DATEZ,
	   total as Total,
	   max(total) as MaxPopMusic,
	   (select sum(TOTAL) as sumi from invoice group by total) as YM_MAX,
	   (select genre.genreid as Genre from genre where GenreID = 9) as GenreID,
	   (select genre.name as GenreName from Genre where genreID = 9) as GenreName
from invoice
group by YM_MAX
having genreid = 9;

#complete

#### D. (10 points). What genre has the most songs bought that are in the pop genre? What is the total money spent on these songs? Which customer is spending the most on pop songs?
---

In [ ]:
    Select trackid,
	   artist.name as Artist,
	   genre.genreId as GenreId,
	   genre.name as Genre,
	   count(*) as MaxSongs
FROM track
	   join artist on Artist.ArtistId = album.artistid
	   join album on album.albumid = track.albumid
	   join genre on genre.GenreId = track.GenreId
	   where track.genreid = 9
	   group by artist
	   order by maxsongs desc;
        
    Select
	   artist.name as Artist,
	   genre.genreId as GenreId,
	   genre.name as Genre,
	   sum(invoiceline.Quantity*invoiceline.UnitPrice) as TotalSpent,
	   count(*) as MaxSongs
FROM track
	   join artist on Artist.ArtistId = album.artistid
	   join album on album.albumid = track.albumid
	   join genre on genre.GenreId = track.GenreId
	   join InvoiceLine on invoiceline.trackID = track.trackID
	   where track.genreid = 9
	   group by artist
	   order by maxsongs desc;
    
    Select
	   genre.genreId as GenreId,
	   genre.name as Genre,
	   invoice.customerid as CustomerID,
	   sum(invoice.total) as TotalSpent
FROM track
	   join artist on Artist.ArtistId = album.artistid
	   join album on album.albumid = track.albumid
	   join genre on genre.GenreId = track.GenreId
	   join InvoiceLine on invoiceline.trackID = track.trackID
	   join Invoice on invoice.invoiceid = invoiceline.invoiceid
	   where track.genreid = 9
	   group by customerid	   
	   order by totalspent desc;
 
       #complete

#### E. (10 points). Output how many songs each artist is selling in each country? Who is selling the post outside of the US? On average, how many songs is each artist selling outside of the US?
---

In [ ]:
    Select
	   invoice.customerid as CustomerID,
	   artist.name as ArtistName,
	   Invoice.BillingCountry as Country,
	   artist.artistid as ArtistID,
	   track.trackid as TrackID,
	   invoiceline.quantity as Quantity
FROM track
	   join artist on Artist.ArtistId = album.artistid
	   join album on album.albumid = track.albumid
	   join InvoiceLine on invoiceline.trackID = track.trackID
	   join Invoice on invoice.invoiceid = invoiceline.invoiceid;
        
    Select
	   invoice.customerid as CustomerID,
	   artist.name as ArtistName,
	   Invoice.BillingCountry as Country,
	   artist.artistid as ArtistID,
	   track.trackid as TrackID,
	   invoiceline.quantity as Quantity,
	   count(quantity) as Countz
FROM track
	   join artist on Artist.ArtistId = album.artistid
	   join album on album.albumid = track.albumid
	   join InvoiceLine on invoiceline.trackID = track.trackID
	   join Invoice on invoice.invoiceid = invoiceline.invoiceid
	   where country is not 'USA'
	   group by artistname
	   order by Countz desc;
    
    
SELECT SUM(InvoiceLine.Quantity)*1.0 / COUNT(DISTINCT(Artist.Name)) as Average_songs_sold
        FROM Customer
            JOIN Invoice
                ON Customer.CustomerId = Invoice.CustomerId
            JOIN InvoiceLine
                ON Invoice.InvoiceId = InvoiceLine.InvoiceId
            JOIN Track
                ON InvoiceLine.TrackId = Track.TrackId
            JOIN Album
                ON Track.AlbumId = Album.AlbumId
            JOIN Artist
                ON Album.ArtistId = Artist.ArtistId
        WHERE Invoice.BillingCountry is not 'USA';
        
        #Complete

## 3. Window Functions (20 points)
---

#### A. (10 points). Return a list of Customers that assigns a sequential integer to each customer and resets the number when the country of the customer changes for Customers are not from Canada and Brazil and whose email address have `yahoo` or `gmail'
---

In [ ]:
SELECT
    ROW_NUMBER () OVER (PARTITION BY Country ORDER BY FirstName) RowNum,
    FirstName,
    LastName,
    country,
    email
FROM
    customer
where country is not 'Brazil' and country is not 'Canada' and Email Like '%@yahoo%' or Email Like '%@gmail%';

#COMPLETE

#### B. (10 points). Compute the rank for each track in each album based on the track’s length, then append all the tracks that have a lengthrank of 2 and 4 
---

In [ ]:
SELECT * FROM
    (SELECT AlbumID,
           Name,
           Milliseconds,
            DENSE_RANK ()
           OVER(PARTITION BY AlbumID
                ORDER BY Milliseconds)
           LengthRank
    FROM Track)
    WHERE LengthRank = 2 OR LengthRank = 4;
    
    #COMPLETE

## BONUS (20 points)
---
- Using SQLITE syntax [make your own SQLITE table](https://www.sqlitetutorial.net/sqlite-create-table/) and set of data. You will need to create a table of 5 columns and 10 rows containing any information you find interesting. (5 points)
- You should create/import your table need to [dbeaver](https://docs.roguewave.com/en/zendstudio/current/content/create_manage_database_with_dbeaver.htm). (5 points)
- Perform 3 different calculations using your data in order to tell a story of your data set. (10 points)

** FEEL FREE TO USE/EXPLORE OTHER SOURCES**

In [ ]:
CREATE TABLE contacta (
    contact_id INTEGER PRIMARY KEY,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    email TEXT NOT NULL UNIQUE,
    phone TEXT NOT NULL UNIQUE
);

INSERT INTO contacta (contact_id, first_name, last_name, email, phone)
Values (1,'Marcelo','Barroso','mn@me.com','4152123398'), 
(2,'Felipe','Louiz','flp@me.com','415727621'), 
(3,'Paula','Baar','pbarr@gmail.com','4152222345'), 
(4,'Maria','Joana','mj@gmail.com','4159992345'),
(5,'Mary','Jane','420@yahoo.com','4204201345'),
(6,'Armando','Barbosa','abar@hotmail.com','4159948344'),
(7,'Bleu','Fuil','bfuil@gmail.com','4122248345'),
(8,'Fernando','Armando','fernandoarm@gmail.com','9084468271'),
(9,'Matheys','Scheui','msc@gmail.com','4151128900'),
(10,'Bao','Hang','Bhang@me.com','4152218989');

#1. Output all the people who use gmail account:

Select *
from contacta
where email like ('%gmail%')

#2. Show all the people who has the phone number are of San Francisco.

Select *
from contacta
where phone like ('415%')

#3. What's the total amount of people listed in the table ?

Select count(*) as 'Total people on table'
from contacta

#complete